<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.pinkchampagne17.channelserver.repository.ChatMessageRepository">
    <insert id="createMessage">
        insert into message(chat_id, sender_gid, `type`, content) values(#{chatId}, #{senderGid}, #{type}, #{content})
    </insert>
</mapper>
