<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.pinkchampagne17.channelserver.repository.FriendshipRepository">

<!--    <resultMap id="friendshipMap" type="io.github.pinkchampagne17.channelserver.entity.Friendship">-->
<!--        <result column="create_at" property="createAt"/>-->
<!--    </resultMap>-->

<!--    The code above do not works    -->

    <insert
            id="createFriendship"
            parameterType="java.lang.Long"
    >
        insert into friendship (gid, friend_gid) values (#{gid}, #{friendGid}), (#{friendGid}, #{gid})
    </insert>

    <select
            id="getFriendshipByGidAndFriendGid"
            parameterType="java.lang.Long"
            resultType="io.github.pinkchampagne17.channelserver.entity.Friendship"
    >
        select gid, friend_gid as friendGid, create_at as createAt
        from friendship
        where gid = #{gid} and friend_gid = #{friendGid}
        limit 1
    </select>

    <select
            id="getFriendshipsByGid"
            parameterType="java.lang.Long"
            resultType="io.github.pinkchampagne17.channelserver.entity.Friendship"
    >
        select gid, friend_gid as friendGid, create_at as createAt
        from friendship
        where gid = #{gid}
    </select>

    <delete id="removeFriendship" parameterType="java.lang.Long">
        delete from friendship
        where (gid=#{gid} and friend_gid=#{friendGid}) or (gid=#{friendGid} and friend_gid=#{gid})
    </delete>

</mapper>
