<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.pinkchampagne17.channelserver.repository.RequestRepository">

    <select
            id="getRequestsByGid"
            resultType="io.github.pinkchampagne17.channelserver.entity.Request"
            parameterType="java.lang.Long"
    >
        select *
        from request
        where applicant_gid = #{gid} or target_gid = #{gid}
    </select>

    <select
            id="getRequestByGid"
            resultType="io.github.pinkchampagne17.channelserver.entity.Request"
            parameterType="java.lang.Long"
    >
        select *
        from request
        where applicant_gid = #{applicantGid} or target_gid = #{targetGid}
        limit 1
    </select>

    <select
            id="getRequestsByApplicantGidAndTargetGid"
            resultType="io.github.pinkchampagne17.channelserver.entity.Request"
            parameterType="java.lang.Long"
    >
        select *
        from request
        where applicant_gid = #{applicantGid} or target_gid = #{targetGid}
    </select>

    <insert
            id="createOrUpdateRequest"
            parameterType="io.github.pinkchampagne17.channelserver.entity.Request"
    >
        insert into request(applicant_gid, target_gid, reason)
        values(#{applicantGid}, #{targetGid}, #{reason})
        on duplicate key update reason=#{reason}, status=0
    </insert>

    <update
            id="updateStatus"
            parameterType="io.github.pinkchampagne17.channelserver.parameters.RequestStatusUpdateParameters"
    >
        update request
        set status = #{status}
        where applicant_gid = #{applicantGid} and target_gid = #{targetGid}
    </update>

    <delete id="removeRequest" parameterType="java.lang.Long">
        delete from request
        where (applicant_gid=#{gid} and target_gid=#{anotherGid}) or (applicant_gid=#{anotherGid} and target_gid=#{gid})
    </delete>

</mapper>
