<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.pinkchampagne17.channelserver.repository.RequestRepository">


    <select
            id="getRequestsByGid"
            resultType="io.github.pinkchampagne17.channelserver.entity.Request"
            parameterType="java.lang.Long"
    >
        select *
        from request
        where applicant_gid = #{gid} or target_gid = #{gid}
    </select>

</mapper>
