<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.pinkchampagne17.channelserver.repository.UserRepository">
    <resultMap id="userMap" type="io.github.pinkchampagne17.channelserver.entity.User">
        <result column="hash_id" property="hashId"/>
        <result column="photo_md5" property="photoMd5"/>
        <result column="is_online" property="isOnline"/>
        <result column="create_at" property="createAt"/>
        <result column="update_at" property="updateAt"/>
    </resultMap>
    <select
            id="getUserById"
            resultType="io.github.pinkchampagne17.channelserver.entity.User"
            resultMap="userMap"
            parameterType="java.lang.Long"
    >
        select u.gid, u.hash_id, u.email, u.password, u.name, u.bio, u.photo_md5, u.is_online, g.create_at, g.update_at, g.username
        from `user` u join `gid` g on u.gid = g.gid
        where u.gid = #{gid}
        limit 1
    </select>
    <select
            id="getUsers"
            resultType="io.github.pinkchampagne17.channelserver.entity.User"
            resultMap="userMap"
            parameterType="io.github.pinkchampagne17.channelserver.parameters.GetUsersParameters"
    >
        select u.gid, u.hash_id, u.email, u.password, u.name, u.bio, u.photo_md5, u.is_online, g.create_at, g.update_at, g.username
        from `user` u join `gid` g on u.gid = g.gid
        <where>
            <if test="gid!=null">
                and u.gid = #{gid}
            </if>
            <if test="hashId!=null">
                and u.hash_id = #{hashId}
            </if>
            <if test="username!=null">
                and g.username = #{username}
            </if>
            <if test="email!=null">
                and u.email = #{email}
            </if>
            <if test="password!=null">
                and u.password = #{password}
            </if>
        </where>
        <if test="count!=null">
            limit #{count}
        </if>
    </select>
    <insert
            id="createGidAndUsername"
            parameterType="io.github.pinkchampagne17.channelserver.parameters.CreateUserParameters"
            useGeneratedKeys="true"
            keyProperty="gid"
    >
        insert into gid(username) values(#{username})
    </insert>
    <insert
            id="createUserByGid"
            parameterType="io.github.pinkchampagne17.channelserver.parameters.CreateUserParameters"
    >
        insert into `user`(gid, email, password, name, hash_id)
        values(#{gid}, #{email}, #{password}, #{name}, #{hashId})
    </insert>

</mapper>
