<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.pinkchampagne17.channelserver.repository.UserRepository">

    <resultMap id="userMap" type="io.github.pinkchampagne17.channelserver.entity.User">
        <result column="hash_id" property="hashId"/>
        <result column="photo_md5" property="photoMd5"/>
        <result column="is_online" property="isOnline"/>
        <result column="create_at" property="createAt"/>
        <result column="update_at" property="updateAt"/>
    </resultMap>

    <select
            id="getUserById"
            resultType="io.github.pinkchampagne17.channelserver.entity.User"
            resultMap="userMap"
            parameterType="java.lang.Long"
    >
        select u.gid, u.hash_id, u.email, u.password, u.nickname, u.bio, u.photo_md5, u.is_online, g.create_at, g.update_at, g.link
        from `user` u join `gid` g on u.gid = g.gid
        where u.gid = #{gid}
        limit 1
    </select>

    <select
            id="getUsers"
            resultType="io.github.pinkchampagne17.channelserver.entity.User"
            resultMap="userMap"
            parameterType="io.github.pinkchampagne17.channelserver.parameters.UserQueryParameters"
    >
        select u.gid, u.hash_id, u.email, u.password, u.nickname, u.bio, u.photo_md5, u.is_online, g.create_at, g.update_at, g.link
        from `user` u join `gid` g on u.gid = g.gid
        <where>
            <if test="gid!=null">
                or u.gid = #{gid}
            </if>
            <if test="hashId!=null">
                or u.hash_id = #{hashId}
            </if>
            <if test="link!=null">
                or g.link = #{link}
            </if>
            <if test="email!=null">
                or u.email = #{email}
            </if>
            <if test="password!=null">
                or u.password = #{password}
            </if>
        </where>
        <if test="count!=null">
            limit #{count}
        </if>
    </select>

    <insert
            id="createUserByGid"
            parameterType="io.github.pinkchampagne17.channelserver.parameters.UserCreateParameters"
    >
        insert into `user`(gid, email, password, nickname, hash_id)
        values(#{gid}, #{email}, #{password}, #{nickname}, #{hashId})
    </insert>

    <update
            id="updateUser"
            parameterType="io.github.pinkchampagne17.channelserver.parameters.UserUpdateParameters"
    >
        update user u join gid g on u.gid = g.gid
        <trim prefix="set" suffixOverrides=",">
            <if test="email!=null">
                email = #{email},
            </if>
            <if test="password!=null">
                password = #{password},
            </if>
            <if test="name!=null">
                name = #{name},
            </if>
            <if test="bio!=null">
                bio = #{bio},
            </if>
            <if test="link!=null">
                link = #{link},
            </if>
        </trim>
        where u.gid = #{gid}
    </update>

</mapper>
